body {
 font-family: 'Work Sans', sans-serif;
}

header {
 background-color: #007bff;
 padding: 10px;
 color: white;
 margin-bottom: 20px;
}

.a {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.error {
 color: red;
 margin-left: 10px;
}

.malumot {
 padding: 20px;
 background-color: #f8f9fa;
 border: 1px solid #dee2e6;
 border-radius: 5px;
}